/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%; } */
body {margin: 0; min-height: 100vh; height: auto;font-family: Roboto, "Helvetica Neue", sans-serif;}

.page-header {
  background: #686868;
}

.page-header h1{
  padding: 16px 0;
  margin: 0;
  color: #f1f1f1;
}

.pagetitle{
  color: #69f0ae;
}

.ml-1 {
  margin-left: 1em !important;
}

